In [13]:
import duckdb 
import os 
import pandas as pd

In [7]:
#Load the httpfs to load data from a remote repo. Run this command only once. 
conn = duckdb.connect('taxi_NYC4.db')
conn.execute("INSTALL httpfs;")
conn.execute("LOAD httpfs;")

In [8]:
conn.execute("CREATE TABLE green_taxi AS SELECT * FROM read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2024-01.parquet');")

In [16]:
conn2 = duckdb.connect('taxi_nyc4.db')
results = conn2.execute("SELECT * FROM green_taxi LIMIT 5").fetchall()
df = pd.DataFrame(results, columns=[column.name for column in results.description])

print(df)

conn2.close()

AttributeError: 'list' object has no attribute 'description'