In [13]:
import duckdb 
import os 
import pandas as pd

In [7]:
#Load the httpfs to load data from a remote repo. Run this command only once. 
conn = duckdb.connect('taxi_NYC4.db')
conn.execute("INSTALL httpfs;")
conn.execute("LOAD httpfs;")

In [8]:
conn.execute("CREATE TABLE green_taxi AS SELECT * FROM read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2024-01.parquet');")

In [22]:
from IPython.display import display
conn2 = duckdb.connect('taxi_nyc4.db')
results = conn2.execute("SELECT * FROM green_taxi LIMIT 10").fetchall()
df = pd.DataFrame(results)

display(df)

conn2.close()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,2,2024-01-01 00:46:55,2024-01-01 00:58:25,N,1,236,239,1,1.98,12.8,1.00,0.5,3.61,0.0,None,1.0,21.66,1,1,2.75
1,2,2024-01-01 00:31:42,2024-01-01 00:52:34,N,1,65,170,5,6.54,30.3,1.00,0.5,7.11,0.0,None,1.0,42.66,1,1,2.75
2,2,2024-01-01 00:30:21,2024-01-01 00:49:23,N,1,74,262,1,3.08,19.8,1.00,0.5,3.00,0.0,None,1.0,28.05,1,1,2.75
3,1,2024-01-01 00:30:20,2024-01-01 00:42:12,N,1,74,116,1,2.40,14.2,1.00,1.5,0.00,0.0,None,1.0,16.70,2,1,0.00
4,2,2024-01-01 00:32:38,2024-01-01 00:43:37,N,1,74,243,1,5.14,22.6,1.00,0.5,6.28,0.0,None,1.0,31.38,1,1,0.00
5,1,2024-01-01 00:43:41,2024-01-01 01:00:23,N,1,33,209,1,2.00,17.0,3.75,1.5,2.00,0.0,None,1.0,24.25,1,1,2.75
6,1,2024-01-01 00:31:56,2024-01-01 00:48:09,N,1,74,238,2,3.20,18.4,3.75,1.5,4.70,0.0,None,1.0,28.35,1,1,2.75
7,2,2024-01-01 00:46:12,2024-01-01 00:57:39,N,1,166,239,2,2.01,13.5,1.00,0.5,5.62,0.0,None,1.0,24.37,1,1,2.75
8,2,2024-01-01 00:38:07,2024-01-01 00:39:23,N,1,226,226,1,0.31,3.7,1.00,0.5,0.00,0.0,None,1.0,6.20,2,1,0.00
9,2,2024-01-01 00:44:24,2024-01-01 00:57:47,N,1,7,129,1,2.32,14.9,1.00,0.5,3.48,0.0,None,1.0,20.88,1,1,0.00